# dot files
/.vscode/launch.json
/.settings
/.RTE_Components.h
/.eide/log
/.mxproject
/.eide.usr.ctx.json
/.cmsis
/.pack
/.eide
# project out
/build
/bin
/obj
/out
/core
/Drivers
/Middlewares
/MDK-ARM

# eide template
*.ept
*.eide-template
*.ioc